<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1000</integer>
		<key>name</key>
		<string>豆浆</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1001</integer>
		<key>name</key>
		<string>烧麦</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1003</integer>
		<key>name</key>
		<string>米饭</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1004</integer>
		<key>name</key>
		<string>牛肉</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1005</integer>
		<key>name</key>
		<string>面条</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1006</integer>
		<key>name</key>
		<string>煎蛋</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1007</integer>
		<key>name</key>
		<string>肉燕</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1008</integer>
		<key>name</key>
		<string>扁食</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1009</integer>
		<key>name</key>
		<string>烤鱼</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1010</integer>
		<key>name</key>
		<string>干锅包菜</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1011</integer>
		<key>name</key>
		<string>牛奶</string>
	</dict>
</array>
</plist>
